{% extends 'twitter_bootstrap.html.twig' %}

{% block content %}

    <h2 class="sub-header">My entries

        <a href="/user/edit_resource/0" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new</a>

    </h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <!--<th>Content</th>-->
                <th>URL</th>
                <th>CSS Rule</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for resource in resources %}
                <tr>
                    <!--<td style="max-width: 500px">{{ resource.lastHtml|raw }}</td>-->
                    <td class="col-xs-3">{{ resource.url }}</td>
                    <td class="col-xs-2">{{ resource.cssRule }}</td>
                    <td class="col-xs-2">
                        <a href="/user/view_resource_history/{{ resource.id }}"><span class="glyphicon glyphicon-eye-open" ></span> View changes</a>
                        &nbsp;
                        <a href="/user/edit_resource/{{ resource.id }}"><span class="glyphicon glyphicon-pencil" ></span> Edit</a>
                        &nbsp;
                        <a href="/user/delete_resource/{{ resource.id }}" onclick="return confirm('Are you sure?')"><span class=" glyphicon glyphicon-trash" ></span> Delete</a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}